<!DOCTYPE html>

<head>
    <meta name="description" content="IF: Introverted Foodie">
    
    <link rel="stylesheet" href="../content/css/site.css">

    <title>IF - Home</title>
</head>

<body>
    <header>
        <div class="container">
            <!--<img src="content/sample_logo.png" alt="logo" class="logo">-->
            <a id = "logo" href="../View/Index.html">IF</a>

            <nav>
                <ul>
                    <li> <a href="../View/Index.html">Home</a> </li>
                    <li> <a href="../View/Restaurants.html">Restaurants</a> </li>
                    <li> <a href="../View/LogIn.html">Log In</a> </li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- ---------------------------------------------- -->
    <div class="container">
        <br><br><br><br> <!-- PROBLEM: w/o this the text flows under header-->
        <h1>Index Page</h1>
        <br>
        <p>1Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae voluptates nam modi voluptatum alias numquam! Deleniti, sint? Quod commodi modi dolores exercitationem, totam cupiditate natus possimus ullam repudiandae consectetur facilis.</p>
        <br>
        <p>2Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae voluptates nam modi voluptatum alias numquam! Deleniti, sint? Quod commodi modi dolores exercitationem, totam cupiditate natus possimus ullam repudiandae consectetur facilis.</p>
        <br>
        <p>3Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae voluptates nam modi voluptatum alias numquam! Deleniti, sint? Quod commodi modi dolores exercitationem, totam cupiditate natus possimus ullam repudiandae consectetur facilis.</p>
        <br>
        <p>4Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae voluptates nam modi voluptatum alias numquam! Deleniti, sint? Quod commodi modi dolores exercitationem, totam cupiditate natus possimus ullam repudiandae consectetur facilis.</p>
        <br>
        <p>5Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae voluptates nam modi voluptatum alias numquam! Deleniti, sint? Quod commodi modi dolores exercitationem, totam cupiditate natus possimus ullam repudiandae consectetur facilis.</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae voluptates nam modi voluptatum alias numquam! Deleniti, sint? Quod commodi modi dolores exercitationem, totam cupiditate natus possimus ullam repudiandae consectetur facilis.</p>
        <br>
    </div>
    

    <!-- ---------------------------------------------- -->

    <footer>
        <div class="container">
            <p>&copy 2019 - IF(Introvert Foodie)</p>
        </div>
        
    </footer>

</body>