<!DOCTYPE html>

<head>
    <meta name="description" content="IF: Introverted Foodie">
    
    <link rel="stylesheet" href="../content/css/restaurants.css">

    <title>IF - Restaurants</title>
</head>

<body>
    <a href="./Index.html">Home</a>

    <div class = "container">
        <div >
            <form id = "choose_restaurant">
                <p>Specifications</p>
            </form>
        </div>

        <div>
            <ul id = "restaurant_options">
                <li> Rest1 </li>
                <li> Rest2 </li>
                <li> Rest3 </li>
            </ul>
        </div>
        




    </div>


</body>